---

---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <header>
    {% include navigation.html %}
  </header>
    <!-- WELCOME -->
    <main>
      <section id="welcome-section">
        <div>
          <h1><code><span class="syntax">&lt;h1&gt;</span>Hi i'm Richard<span class="syntax">&lt;/h1&gt;</span></code></h1>
          <p><code><span class="syntax">&lt;p&gt;</span>a self-taught Web Developer<span class="syntax">&lt;/p&gt;</span></code></p>
        </div>

      <!-- ABOUT -->
      </section>
      <section id="about-section">

      </section>

      <!-- PROJECTS -->
      <section id="projects">
        <h2 id="projects-header">These are some of my projects</h2>
        <div class="project-container">
          <div class="project-tile" id="tribute">
            <a href="https://rvass82.github.io/fcc-tribute/" target="_blank">
              <div class="project-thumb">
              </div>
              <div class="project-banner">
                <span>Tribute Page</span>
              </div>
            </a>
          </div>
          <div class="project-tile" id="aggregate">
            <a href="https://rvass82.github.io/presentation/" target="_blank">
              <div class="project-thumb">
              </div>
              <div class="project-banner">
                <span>Aggregator Page</span>
              </div>
            </a>        
          </div>
          <div class="project-tile" id="product-landing">
            <a href="https://rvass82.github.io/fcc-product-landing/" target="_blank">
              <div class="project-thumb">
              </div>
              <div class="project-banner">
                <span>Product Landing Page</span>
              </div>
            </a>        
          </div>
          <div class="project-tile" id="survey-form">
            <a href="https://rvass82.github.io/fcc-survey-form/" target="_blank">
              <div class="project-thumb">
              </div>
              <div class="project-banner">
                <span>Survey Form Page</span>
              </div>
            </a>        
          </div>
          <div class="project-tile" id="technical-documentation">
            <a href="https://rvass82.github.io/fcc-technical-documentation/" target="_blank">
              <div class="project-thumb">
              </div>
              <div class="project-banner">
                <span>Technical Documentation Page</span>
              </div>
            </a>        
          </div>
          <div class="project-tile">
            <a href="https://codepen.io/rvass82/pen/NWParvX" target="_blank">
              <div class="project-thumb">
              </div>
              <div class="project-banner">
                <span>Tribute Page</span>
              </div>
            </a>        
          </div>
          
        </div>
        
        
      </section>
      
    </main>
    
    <!-- CONTACT -->
    <footer id="contact">
      <div id="contacts-wrapper">
        <h1>Let's work together...</h1>
        <ul>
          <li><a target="_blank" id="profile-link" href="https://github.com/rvass82">
            <i class="fab fa-github"></i> Github</a>
          </li>
          <li><a target="_blank" href="https://www.freecodecamp.org/fcc3e1b1dac-30d4-4959-a162-c60f8834f10e">
            <i class="fab fa-free-code-camp"></i> FreeCodeCamp</a>
          </li>
          <li><a target="_blank" href="https://codepen.io/rvass82">
            <i class="fab fa-codepen"></i> CodePen</a>
          </li>
          <li><a target="_blank" href="www.linkedin.com/in/richard-vass-41602766">
            <i class="fab fa-linkedin"></i> Linked In</a>
          </li>
          <li><a target="_blank" href="">
            <i class="fas fa-at"></i> Send email</a>
          </li>
          <li><a target="_blank" href="">
            <i class="fas fa-mobile"></i> Call me</a>
          </li>
        </ul>
        
      </div>
    </footer>
</body>
</html>
