* {
  box-sizing: border-box;
}
:root {
  --main-color: darkorange;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  font-family: helvetica;
}

/* HEADER */

#navbar {
  background-color: var(--main-color);
  /*   height: 80px; */
  z-index: 20;
  position: fixed;
  width: 100%;
  /*   margin: 0 20px 0 0; */
}
#navbar ul {
  margin: 0;
  text-align: right;
  margin-right: 40px;
}
#navbar li {
  display: inline-block;
  list-style: none;
  /*   line-height: 80px; */
  /*   background-color: blue; */
  /*   padding: 0; */
}
#navbar li a {
  text-decoration: none;
  display: relative;
  font-size: 1.7em;
  padding: 1em 1.5em;
  font-weight: bold;
  color: black;
  line-height: 70px;
  /*   background-color: red; */
}
#navbar a:hover {
  /* background-color: grey; */
  text-decoration: underline;
  a::before {

  }
}

/* WELCOME */

#welcome-section {
  position: relative;
  padding-top: 80px;
  height: 100vh;
  width: 100%;
  /* background-color:#222; */
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}
#welcome-section div {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
#welcome-section h1 {
  font-size: 7em;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}
#welcome-section p {
  /* font-style: italic; */
  font-size: 3em;
  color: #fff;;
}
.syntax {
  color: rgb(0, 102, 255);
}

/* ABOUT */
#about-section {
  padding: 140px 20px;
  background: grey;
  height: 1000px;
  display: none;
}



/* PROJECTS */

#projects {
  /* background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px; */
  background-color:#283864;
  background-size:16px 16px;

/*   height: 1300px; */
  padding: 140px 20px;
}

#projects-header {
  /* border-bottom: solid white; */
/*   background: red; */
/*   font-weight: bold; */
  text-align: center;
  padding: 0 0 30px 0;
  margin: 0 auto 50px;
  color: white;
  font-size: 3em;
  max-width: 730px;
}
.project-container {
/*   background: white; */
  column-gap: 40px;
    
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 500px;
  margin: 0 auto;
  row-gap: 40px;
  width: 1400px;
    
}
.project-tile > a {
  text-decoration: none;
}
.project-thumb {
  height: 85%;
}
.project-banner {
  background-color: var(--main-color);
  height: 15%;
  display: grid;
  place-items: center;
  /* position: relative; */
/*   line-height: 100%; */
/*   position: absolute; */
/*   top: 50%; */
/*   text-align: center; */
/*   vertical align: center; */
}
.project-banner span {
  color: #000;
  font-weight: bold;
  font-size: 1.5em;
  /* text-decoration: none; */
  /* text-align: center; */
  /* height: 100%; */
  /* position: absolute; */
  /* background: red; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
#tribute {
  cursor: pointer;
  background-image: url(/images/tribute-500x500.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#aggregate {
  cursor: pointer;
  background-image: url(/images/aggregate-500x500.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}
#product-landing {
  cursor: pointer;
  background-image: url(images/product-landing-500x500.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* CONTACT */

#contact {
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  height: 60vh;
  position: relative;
  /* font-size: 1rem; */
}
#contacts-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
}
#contacts-wrapper h1{
  font-size: 4em;
  color: #fff;
}

#contacts-wrapper ul{
  text-decoration: none;
  margin-top: 100px;
}

#contacts-wrapper li {
  display: inline-block;
  font-size: 2em;
  color: #fff;
  /* margin: 0 10px; */
  padding: 0 20px;
  
}
#contacts-wrapper a {
  text-decoration: none;
  text-shadow: 2px 2px 1px #000;
  color: #fff;
  transition: transform 0.3s ease-out;
}

#contacts-wrapper a:visited {
  color: #fff;
}

#contacts-wrapper a:hover {
  color: orange;
  transform: translateY(8px);
}



@media (max-width: 800px) {
}
